@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #ff8562;
    text-decoration: none
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b {
    font-weight: 700
}

@media print {
    body,html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-text {
    font-family: 'epolis',Arial,sans-serif;
    font-weight: 400;
    color: #000
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55
}

.t-name {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    color: #000
}

.t-name_sm {
    font-size: 18px;
    line-height: 1.35
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35
}

.t-heading {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 500;
    color: #000
}

.t-title {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    color: #000
}

.t-title_xs {
    font-size: 42px;
    line-height: 1.23
}

.t-title_xl {
    font-size: 72px;
    line-height: 1.17
}

.t-descr {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 400;
    color: #000
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55
}

.t-descr_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55
}

.t-descr_xl {
    font-size: 24px;
    line-height: 1.5
}

.t-descr_xxxl {
    font-size: 30px;
    line-height: 1.45;
    letter-spacing: .45
}

@media screen and (max-width: 1200px) {

    .t-text_md {
        font-size: 18px
    }

    .t-descr_xs {
        font-size: 14px
    }

    .t-descr_sm {
        font-size: 16px
    }

    .t-descr_md {
        font-size: 18px
    }

    .t-descr_xl {
        font-size: 34px
    }

    .t-descr_xxxl {
        font-size: 26px
    }

    .t-title_xs {
        font-size: 38px
    }

    .t-title_xl {
        font-size: 68px
    }

    .t-name_sm {
        font-size: 16px
    }

    .t-name_md {
        font-size: 18px
    }
}

@media screen and (max-width: 640px) {

    .t-text_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-descr_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-descr_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_xl {
        font-size: 20px;
        line-height: 1.4
    }

    .t-descr_xxxl {
        font-size: 22px
    }

    .t-title_xs {
        font-size: 30px
    }

    .t-title_xl {
        font-size: 32px
    }

    .t-name_sm {
        font-size: 14px
    }

    .t-name_md {
        font-size: 16px
    }
}

@media screen and (max-width: 480px) {
    .t-title_xl {
        font-size:30px
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #ff8562;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-cover {
    height: 700px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden
}

.t-cover__carrier {
    height: 700px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: unset
}

@supports (-ms-ime-align:auto) {
    .t-cover__carrier {
        transform: unset
    }
}

@media screen and (max-device-width: 1024px) {
    .t-cover {
        background-attachment:scroll
    }

    .t-cover__carrier {
        background-attachment: scroll
    }
}

@media print {
    .t-cover {
        background-attachment: scroll
    }

    .t-cover__carrier {
        background-attachment: scroll
    }
}

.t-cover__filter {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(9,71,63,0.50), rgba(8,29,31,0.60));
}

.t-cover .t-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.t-cover__wrapper {
    height: 700px;
    display: table-cell;
    width: 1200px
}

.t-cover__wrapper span.space {
    display: inline-block;
    height: 100%;
    width: 1px
}

@media screen and (max-width: 640px) {
    .t-cover {
        height:400px;
        background-attachment: fixed
    }

    .t-cover__carrier {
        background-attachment: scroll!important;
        background-size: cover;
        background-position: center center
    }

    .t-cover__wrapper {
        height: 400px
    }
}

@-webkit-keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }

    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }

    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

.t-cover__arrow-wrapper_animated {
    animation: t-arrow-bottom 1.7s infinite ease
}

.t-cover__arrow {
    position: absolute;
    z-index: 9;
    bottom: 50px;
    right: 0;
    left: 0;
    text-align: center
}

.t-cover__arrow-wrapper {
    display: inline-block;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    cursor: pointer
}

.t-cover__arrow-wrapper:hover {
    opacity: .7
}

.t-cover__arrow-svg {
    fill: #fff
}

@media screen and (max-width: 640px) {
    .t-cover__arrow_mobile {
        -moz-transform:scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7)
    }

    .t-cover__arrow {
        bottom: 94px
    }
}

.t-btntext {
    font-family: 'Roboto',Arial,sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}

.t-btntext_sm {
    font-size: 16px
}

.t-btntext:after {
    content: "\00a0→";
    font-family: Arial,Helvetica,sans-serif
}

.t-align_center {
    text-align: center
}

.t-margin_auto {
    margin-left: auto;
    margin-right: auto
}

.t-valign_middle {
    vertical-align: middle
}

.t-valign_top {
    vertical-align: top
}

.t-rec_pt_0 {
    padding-top: 0
}
.t-rec_pt_80 {
    padding-top: 80px
}

.t-rec_pt_100 {
    padding-top: 100px
}
.t-rec_pt_140 {
    padding-top: 140px
}

.t-rec_pt_150 {
    padding-top: 150px
}

.t-rec_pt_180 {
    padding-top: 180px
}

.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_80 {
    padding-bottom: 80px
}

.t-rec_pb_150 {
    padding-bottom: 150px
}

.t-rec_pb_180 {
    padding-bottom: 180px
}

@media screen and (max-width: 480px) {
    .t-rec_pt_0 {
        padding-top:0
    }

    .t-rec_pt_80 {
        padding-top: 0px!important
    }

    .t-rec_pt_100 {
        padding-top: 30px!important
    }
    .t-rec_pt_140 {
        padding-top: 50px!important
    }

    .t-rec_pt_150 {
        padding-top: 90px!important
    }

    .t-rec_pt_180 {
        padding-top: 50px!important
    }

    .t-rec_pb_0 {
        padding-bottom: 0
    }

    .t-rec_pb_80 {
        padding-bottom: 0px!important
    }

    .t-rec_pb_150 {
        padding-bottom: 90px!important
    }

    .t-rec_pb_180 {
        padding-bottom: 50px!important
    }
}

@font-face {
    font-family: 'epolis';
    src: url('../fonts/epolis.woff') format('woff');
    font-weight: 400;
    font-style: normal
}

.t001__wrapper {
    padding-top: 42px;
    padding-bottom: 42px
}

.t001__title {
    color: #fff;
    padding: 24px 0 38px 0;
    letter-spacing: .5px
}

.t001__descr {
    color: #fff;
    padding: 0 0 30px 0
}

.t001__descr_center {
    max-width: 700px;
    margin: 0 auto
}

@media screen and (max-width: 640px) {
    .t001__title {
        padding-left:10px;
        padding-right: 10px
    }

    .t001__descr {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        line-height: 48px
    }
}

.t218__blocktable {
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0
}

.t218__blocktext {
    width: 50%;
    height: 100%;
    vertical-align: middle
}

.t218__blockimg {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    margin: 0;
    padding: 0
}

.t218__textwrapper {
    margin: 10%
}

.t218__textfield {
    padding-top: 20px
}

.t218__imgmobile {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    margin: 0
}

.t218__btn-container {
    width: 100%
}

.t218__btntext-wrapper {
    display: inline-block;
    padding-top: 45px
}

@media screen and (max-width: 980px) {
    .t218__blockimg {
        display:none
    }

    .t218__blockimgmobile {
        display: block!important;
        text-align: center;
        width: 100%;
        padding: 60px 0 0 0
    }

    .t218__blockimgmobile_padding-0 {
        padding: 0
    }

    .t218__blocktable {
        height: auto!important
    }

    .t218__textfield {
        padding-bottom: 5px
    }

    .t218__btntext-wrapper {
        padding-top: 0;
        padding-bottom: 40px
    }
}

@media screen and (max-width: 640px) {
    .t218__descrfield {
        padding-top:0px;
        width: 100%
    }

    .t218__textfield {
        padding-top: 5px;
        width: 100%
    }

    .t218__textwrapper {
        margin: 20px
    }
    .t218__btntext-wrapper {
        padding-top: 0
    }
}

.t446__leftmenuwrapper,.t446__additionalwrapper {
    display: inline-table;
    height: 100%;
    vertical-align: middle
}

.t446__leftmenuwrapper .t446__list {
    display: table-cell;
    vertical-align: middle
}

.t446__logowrapper {
    position: absolute;
    left: 50%;
    display: table;
    height: inherit
}

.t446__logowrapper2 {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: -50%;
    z-index: 100
}

.t446__imglogo {
    max-width: 300px;
    height: auto;
    display: block
}

.t446__leftwrapper,.t446__rightwrapper {
    width: 50%;
    box-sizing: border-box;
    position: absolute;
    height: 100%
}

.t446__leftwrapper {
    text-align: right;
    padding-right: 200px;
    padding-left: 40px;
    left: 0
}

.t446__rightwrapper {
    text-align: left;
    padding-left: 200px;
    padding-right: 40px;
    right: 0
}

@media screen and (max-width: 1200px) {
    .t446__leftwrapper {
        padding-left:20px
    }

    .t446__rightwrapper {
        padding-right: 20px
    }
}

.t446__mobile {
    display: none
}

@media screen and (max-width: 980px) {
    .t446.t446__hidden {
        display:none;
        height: 100%
    }

    .t446__mobile {
        background-color: #212121;
        display: block
    }

    .t446__mobile_text {
        color: #1aaa89
    }

    .t446__mobile_container {
        padding: 20px;
        position: relative
    }

    .t446__mobile_burger {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 20px;
        width: 28px;
        height: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 9999
    }

    .t446__mobile_burger span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 3px;
        background-color: #fff
    }

    .t446__mobile_burger span:nth-child(1) {
        top: 0
    }

    .t446__mobile_burger span:nth-child(2),.t446__mobile_burger span:nth-child(3) {
        top: 8px
    }

    .t446__mobile_burger span:nth-child(4) {
        top: 16px
    }

    .t446__logowrapper {
        position: static;
        display: none;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
		display: none;
    }

    .t446__logowrapper2 {
        display: block;
        position: static
    }

    .t446__leftwrapper,.t446__rightwrapper {
        position: static;
        padding: 0!important;
        width: 100%;
        height: initial
    }

    .t446__additionalwrapper,.t446__leftmenuwrapper,.t446__leftmenuwrapper .t446__list {
        display: block;
		padding-top: 16px;
    }

    .t446__additionalwrapper {
        position: static;
        padding: 40px 0
    }
}

.t446 {
    width: 100%;
    height: 80px;
    z-index: 990;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear
}

.t446 ul {
    margin: 0
}

.t446__maincontainer {
    width: 100%;
    height: 80px;
    display: table;
    position: relative
}

.t446__list {
    list-style-type: none;
    margin: 0;
    padding: 0!important
}

.t446__list_item {
    clear: both;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 16px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    color: #000;
    white-space: nowrap
}

.t446__list_item:first-child {
    padding-left: 0
}

.t446__list_item:last-child {
    padding-right: 0
}

.t446__right_descr {
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 13px;
    color: #000
}

.t446 a,#allrecords .t446 a {
    text-decoration: none;
    color: #fff
}

.t446.t446__positionfixed {
    position: fixed
}

@media screen and (max-width: 1200px) {

    .t446__right_descr {
        padding-left: 15px
    }
}

@media screen and (max-width: 980px) {
    .t446 {
        position:static;
        text-align: center;
        display: block;
        margin: 0;
        padding: 0;
        height: auto!important
    }

    .t446.t446__positionfixed {
        position: fixed;
		z-index: 20;
		top: 58px;
		opacity: 0.9;
    }

    .t446__imglogo {
        width: auto!important;
        max-width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin: 0 auto
    }

    .t446__imglogomobile.t446__imglogo {
        width: 100%!important
    }

    .t446__right_descr {
        display: table;
        padding: 10px 0;
        margin: 0 auto;
        text-align: center
    }

    .t446 img {
        float: inherit
    }

    .t446 .t446__list_item {
        display: block;
        text-align: center;
        padding: 10px!important;
        white-space: normal
    }
}

.t480__blockimg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.t480__textwrapper {
    display: table;
    width: 100%;
    height: 100%
}

.t480__content {
    display: table-cell
}

.t480__title {
    margin-bottom: 16px
}

.t480__descr {
    margin-top: 28px
}

.t480__line {
    max-width: 50px;
    width: 100%;
    height: 3px;
    background-color: #666;
    display: block
}

.t480__sizer.t-col_6 {
    width: 560px!important;
    max-width: 560px!important
}

.t480__btn-container {
    width: 100%
}

.t480__btntext-wrapper {
    display: inline-block;
    padding-top: 45px
}

@media screen and (max-width: 960px) {
    .t480__top {
        margin-bottom:30px
    }

    .t480__textwrapper {
        height: auto!important
    }

    .t480__btntext-wrapper {
        padding-top: 20px
    }
}

.t491__separator {
    margin-bottom: 70px
}

.t491 .t-section__topwrapper {
    margin-bottom: 105px
}

.t491 .t-section__title {
    margin-bottom: 40px
}

.t491__img {
    margin-right: 16px;
    width: 35px;
    height: auto
}

.t491__title {
    margin-top: 23px
}

.t491__descr {
    margin-top: 12px
}

.t491__wrapper {
    display: table
}

.t491__img,.t491__title {
    display: table-cell;
    vertical-align: middle
}

@media screen and (max-width: 960px) {
    .t491__col {
        margin-bottom:40px
    }

    .t491__separator {
        margin-bottom: 0px!important
    }

    .t491 .t-section__topwrapper {
        margin-bottom: 45px
    }

    .t491 .t-section__title {
        margin-bottom: 20px
    }

    .t491__img {
        max-width: 100px
    }
}

.t510 .t-section__topwrapper {
    margin-bottom: 90px
}

.t510 .t-section__title {
    margin-bottom: 40px
}

.t510 .t-section__descr {
    max-width: 560px
}

.t510__separator {
    margin-bottom: 55px
}

.t510__textwrapper {
    padding-left: 40px
}

.t510__bottommargin {
    margin-bottom: 14px
}

.t510__circle {
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #000;
    overflow: hidden;
    white-space: nowrap
}

@media screen and (max-width: 960px) {

    .t510 .t-section__topwrapper {
        margin-bottom: 45px
    }

    .t510 .t-section__title {
        margin-bottom: 20px
    }

    .t510__separator {
        margin-bottom: 40px!important
    }

    .t510__circle {
        max-width: 40px;
        max-height: 40px;
        font-size: 18px!important;
        line-height: 40px!important
    }

    .t510__textwrapper {
        padding-left: 20px!important
    }
}

.t594 .t-section__title {
    margin-bottom: 40px
}

.t594__container:before {
    display: none
}

.t594__container {
    text-align: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center
}

.t594__item {
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 0
}

.t594__item_5-in-row {
    width: 20%
}

.t594__item_6-in-row {
    width: 16.666%
}

.t594__img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto
}

@media screen and (max-width: 1200px) {
    .t594__item {
        padding:10px
    }
}

@media screen and (max-width: 960px) {

    .t594 .t-section__title {
        margin-bottom: 20px
    }

    .t594__item_5-in-row,.t594__item_6-in-row {
        width: 33.333%
    }
}

@media screen and (max-width: 640px) {
    .t594__container {
        padding:0 20px;
        box-sizing: border-box
    }
}

@media screen and (max-width: 440px) {
    .t594__item_5-in-row,.t594__item_6-in-row {
        width:50%
    }
}
.header__tels {
    list-style: none;
    position: relative;
    padding-right: 20px;
}
.header__tels_mob {
    list-style: none;
    position: relative;
    padding-right: 20px;
}

.header__tels:hover .header__tels-item.first,.header__tels:hover .header__tels-item.third {
    z-index: 1;
    opacity: 1
}

.header__tels-icon-sec {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
	opacity: 1
}

.header__tels:hover .header__tels-icon-sec {
	opacity: 0
}

.header__tels-icon-second {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
	opacity: 0
}

.header__tels:hover .header__tels-icon-second {
	opacity: 1
}

.header__tels:hover .header__tels-item.first {
    top: -13px
}

.header__tels:hover .header__tels-item.third {
    top: unset;
    bottom: -30px
}

.header__tels:hover::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.header__tels-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 20px;
    display: block
}

.header__tels-item {
    position: relative;
    padding-left: 30px;
    font-weight: 600
}

.header__tels::before {
    content: "";
    position: absolute;
	margin-left: -140px;
	height: 250%;
    width: -webkit-fill-available;
}

.header__tels::after {
    content: "";
    -webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
    -o-transition: transform .1s ease-in-out;
    transition: transform .1s ease-in-out,-webkit-transform .1s ease-in-out;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 6px;
    width: 10px;
    background: url(../img/arrow-down.svg) center no-repeat
}
.header__tels-item.second {
    z-index: 1;
    opacity: 1
}

.header__tels-item.first,.header__tels-item.third {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    -webkit-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out
}

.op-hover {
    opacity: 1;
    -webkit-transition: opacity .12s ease-in-out;
    -o-transition: opacity .12s ease-in-out;
    transition: opacity .12s ease-in-out;
}
.op-hover:hover {
	color: #1aa989 !important;
}

.t-menu__link-item {
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	padding:0 0px;
    -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
}

.t-menu__link-item:hover {
	color: #1aa989 !important;
}

.t-menu__link-item:active {
	color: #ffffff !important;
}

.t-menu__link-item:active {
color: #ffffff !important;
}

@media screen and (max-width: 980px) {
	.t446__imglogo {
        padding: 20px 0;
	}

	.t446__leftcontainer {
        padding: 20px;
    }
	
    .t-menusub__menu .t-menusub__link-item {
        color:#ffffff !important;
    }
	
    .t-menusub__menu .t-menusub__link-item.t-active {
        color: #ffffff !important;
    }
}
